<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Yavuz Selim Yazıcı</title>
    <meta name="description" content="Yavuz Selim Yazıcı bir okur, stajyer yazılımcı, yazar, editör ve aynı zamanda bir organizatördür. Bu sayfa onun internetteki gecekondusudur.">
    <meta name="author" content="Yavuz Selim Yazıcı">

    <!-- metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://metatags.io/" />
    <meta property="og:title" content="Yavuz Selim Yazıcı" />
    <meta property="og:description" content="Yavuz Selim Yazıcı bir okur, stajyer yazılımcı, yazar, editör ve aynı zamanda bir organizatördür. Bu sayfa onun internetteki gecekondusudur." />
    <meta property="og:image" content="https://metatags.io/images/meta-tags.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://metatags.io/" />
    <meta property="twitter:title" content="Yavuz Selim Yazıcı" />
    <meta property="twitter:description" content="Yavuz Selim Yazıcı bir okur, stajyer yazılımcı, yazar, editör ve aynı zamanda bir organizatördür. Bu sayfa onun internetteki gecekondusudur." />
    <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" />


    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/vendor.css">
    <link rel="stylesheet" href="~/css/main.css">

    <!-- script
    ================================================== -->
    <script src="~/js/modernizr.js"></script>
    <script src="~/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

</head>