<div class="row narrow section-intro has-bottom-sep">
    <div class="col-full text-center">
        <h3>Hakkımda</h3>
        <h1>Yavuz Selim Yazıcı Hakkında</h1>
        <p class="lead">
            8 yaşımdan beri tüm tatillerimi Atak Domain'in eski ofisinde geçirirdim.
            Her yaz 10 yaşımdan beri şirkette ne iş yapabileceğimizi sorar,
            en basit ve zararsız işleri yapardık.
            Ben biraz şanslı bir ailede doğdum.
            Babam gelişimimiz için bize hep küçük işler verirdi,
            bir yandan C# çalışmaya başladım (2-3 ay çalışıp bıraktım :))
            ve bu 4 yıl boyunca devam etti. Sonra bir yaz kendimi geliştirmem gerektiğini
            fark ettim. Ve Wordpress öğrendim, C#'a geri döndüm, ilk networklerimi edindim.
            Şimdi bir şeyler yapmak için gelişimime devam ediyorum.
            Odağımı yazılım üzerine yoğunlaştırıyorum.
            Ve iletişim becerilerimi güçlendiriyorum.
            Tabii ki part-time staj yaptığım firmalarda yapabileceğim işleri yapıyorum.
            Eğer her şey umduğum gibi giderse 3 yıl sonra şirkette yazılım bölümünde yer almayı planlıyorum.
        </p>
    </div>
</div>