<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">Insanlar Hakkımda Neler Diyorlar.</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">

            <div class="testimonials__slide">
                <img src="~/images/avatars/user-06.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    Bu adam harika bir yazılımcı. Kurduğum bu sosyal medya platformunu kodlayacaklar!!
                </p>
                <div class="testimonials__author h06">
                    Ali Gül
                    <span>Çaycı, Funny Page</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/images/avatars/user-07.png" alt="Author image" class="testimonials__avatar">
                <p>
                    Bu adamdan yazılımcı olur
                </p>
                <div class="testimonials__author h06">
                    Suat Kandemir
                    <span>CEO, Yüksel Restorant</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/images/avatars/user-08.png" alt="Author image" class="testimonials__avatar">
                <p>
                    Bu adamı tanımıyorum fakat yazılımcı tipi var
                </p>
                <div class="testimonials__author h06">
                    Ebu Bahaddin
                    <span>Intern, Atak Domain</span>
                </div>
            </div>

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div>