<div class="row about-content">

    <div class="col-six tab-full left">
        <h3>Beceriler!</h3>

        <p>
            Yazılım alanında bazı konularda becerilerim var. Bu becerileri sağ taraftaki skaladan inceleyebilirsiniz.
        </p>
    </div>

    <div class="col-six tab-full right">
        <h3>Becerilerim.</h3>

        <ul class="skill-bars">
            <li>
                <div class="progress percent90"><span>90%</span></div>
                <strong>HTML5</strong>
            </li>
            <li>
                <div class="progress percent60"><span>60%</span></div>
                <strong>CSS3</strong>
            </li>
            <li>
                <div class="progress percent70"><span>70%</span></div>
                <strong>C#</strong>
            </li>
            <li>
                <div class="progress percent75"><span>75%</span></div>
                <strong>Wordpress</strong>
            </li>
            <li>
                <div class="progress percent60"><span>60%</span></div>
                <strong>SEO</strong>
            </li>
        </ul>
    </div>

</div>

<div class="row about-content about-content--buttons">

    <div class="col-six tab-full left">
        <a href="https://www.linkedin.com/in/yavuz-yazici/" class="btn btn--primary full-width">CV</a>
    </div>
    <div class="col-six tab-full right">
        <a href="https://www.linkedin.com/in/yavuz-yazici/" class="btn full-width">LinkedIN</a>
    </div>

</div> <!-- end about-content buttons -->