@model List<Yavuz_Selim_Yazıcı.DAL.Entities.Skill>
@{
    string percent;
}

<div class="col-six tab-full right">
    <h3>Becerilerim.</h3>

    <ul class="skill-bars">
        @foreach (var item in Model)
        {
            percent = "percent" + item.Value.ToString();
            <li>
                <div class="progress @percent"><span>@item.Value@*90%*@</span></div>
                <strong>@item.Title@*HTML5*@</strong>
            </li>
        }
        @*<li>
        <div class="progress percent60"><span>60%</span></div>
        <strong>CSS3</strong>
        </li>
        <li>
        <div class="progress percent70"><span>70%</span></div>
        <strong>C#</strong>
        </li>
        <li>
        <div class="progress percent75"><span>75%</span></div>
        <strong>Wordpress</strong>
        </li>
        <li>
        <div class="progress percent60"><span>60%</span></div>
        <strong>SEO</strong>
        </li>*@
    </ul>
</div>

</div>
<!-- end about-content buttons -->