<section id="stats" class="s-stats">
    <div class="row block-1-4 block-tab-1-2 block-mob-full stats">

        <div class="col-block stats__col ">
            <div class="stats__count">
                10571
            </div>
            <h4>Satır Kod yazıldı</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                610
            </div>
            <h4>Bardak Çay İçildi</h4>
        </div>
        <div class="col-block stats__col stats__col--highlight">
            <div class="stats__upsign">
                <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
            <div class="stats__count">
                2
            </div>
            <h4>Proje Tamamlandı</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                10800
            </div>
            <h4>Odun Taşındı</h4>
        </div>

    </div>
</section>